{% extends 'webway/base.html' %}
{% load static %}

{% block title %}Address List{% endblock %}

{% block content %}
    <h2>Addresses</h2>
    <form action="/addresses/create/">
        <input type="submit" value="Create"></form>
    </form>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>



    {% for address in addresses %}
        <tr>
            <th>{{ address.id }}</th>
            <td>{{ address.value }}</td>
            <td>{{ address.type }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
