{#{% extends base.html %}#}

{#<nav class="navbar navbar-default">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="/">Webway</a>#}
{#        </div>#}
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="/">Home</a></li>#}
{#                <li><a href="/systems">Systems</a></li>#}
{#                <li><a href="/services">Services</a></li>#}
{#                <li><a href="/interfaces">Interfaces</a></li>#}
{#                <li><a href="/addresses">Addresses</a></li>#}
{#                <li><a href="/api">API</a></li>#}
{#                <li><a href="/admin">Admin</a></li>#}
{#            </ul>#}
{#            <ul class="nav navbar-nav navbar-right"></ul>#}
{#        </div><!--/.nav-collapse-->#}
{##}
{##}
{#    </div><!-- /.container-fluid-->#}
{##}
{#</nav>#}
<div>
    <p style="font-size:x-small">Interim Nav</p>
    <table class="table">
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/systems">Systems</a></td>
            <td><a href="/services">Services</a></td>
            <td><a href="/interfaces">Interfaces</a></td>
            <td><a href="/addresses">Addresses</a></td>
            <td><a href="/api">API</a></td>
            <td><a href="/admin">Admin</a></td>
        </tr>
    </table>
</div>
